@use '@/app/styles/mixins' as mixins;

.heroSection {
  @include mixins.flexbox(column, flex-end, center);
  padding: var(--space-2x);
  width: 100%;
  height: calc(100vh - 72px);
  max-width: calc(240px + 60vw);

  @include mixins.respond-to('desktop') {
    @include mixins.flexbox(row, center, center);
  }

  > .heroScene {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  > .firstRow {
    width: 100%;

    @include mixins.respond-to('phone') {
      margin-bottom: 10vh;
    }
    @include mixins.respond-to('tablet') {
      margin-bottom: 10vh;
    }

    > .homeImage {
      margin-left: -18px;
      width: clamp(96px, 12vw, 180px);
    }

    > h1 {
      font-size: clamp(2rem, 4vw, 3.5rem);
    }
    > p {
      font-size: clamp(1rem, 1.75vw, 2.75rem);
    }

    > .floatingText {
      font-size: clamp(5rem, 10vw, 10rem);
      font-family: var(--font-dm-mono);
      font-weight: 900;
      letter-spacing: 0.1rem;
      color: var(--foreground);
      // 文字描邊
      -webkit-text-stroke: 1px var(--foreground);
      -webkit-text-fill-color: transparent;
    }
  }

  // > .secondRow {
  // }

  > .robotContainer {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    > .robotImage {
      position: absolute;
      top: 50%;
      right: 8vw;
      opacity: 0.95;
      @include mixins.transform-container(translateY(-50%));

      @include mixins.respond-to('phone') {
        right: 50%;
        @include mixins.transform-container(translateX(50%) translateY(-50%));
      }
    }

    > .robotBackground {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right;
      opacity: 0.3;
    }
  }
}
