@use '../../styles/mixins' as mixins;

.page {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 300px;
  height: fit-content;
  min-height: 100vh;
  padding-top: 72px;
  overflow: hidden;

  > .pageContainer {
    @include mixins.flexbox(column, start, center);
    width: calc(100% - 48px);
    height: fit-content;
    margin: 0 auto;

    &.paddingBottom {
      padding-bottom: 60px;
    }

    > .pageHeader {
      width: 100%;
      padding: 0 0 var(--space-3x) 0;
      // margin-bottom: var(--space-3x);

      h1 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: var(--foreground);
      }

      > .pageHeaderDescriptions {
        > p {
          margin: var(--space-0-5x) 0;
          font-size: 0.9rem;
          font-weight: normal;
          letter-spacing: 0.05rem;
          color: var(--foreground-secondary);
        }
      }
    }
  }
}

// background grid
.backgroundGrid {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      var(--background-grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, var(--background-grid-color) 1px, transparent 1px);
  background-size: 64px 64px;
}
