@use '@/app/styles/_mixins.scss' as mixins;

.clubOfficer {
  @include mixins.flexbox(column, start, start);
  gap: var(--space);
  width: 100%;
  margin-bottom: var(--space-4x);

  > .clubOfficerList {
    @include mixins.grid-layout(2, 1rem);
    width: 100%;

    @include mixins.respond-to('phone') {
      @include mixins.grid-layout(1, 1rem);
    }
    @include mixins.respond-to('tablet') {
      @include mixins.grid-layout(2, 1rem);
    }

    > .clubOfficerItem {
      @include mixins.flexbox(row, space-between, center);
      padding: 24px;
      width: 100%;
      height: 100%;
      border: 1px solid var(--border);
      @include mixins.border-radius(12px);
      cursor: default;

      &.clubOfficerItemLink {
        cursor: pointer;
      }

      // @include mixins.respond-to('desktop') {
      //   @include mixins.flexbox(column, center, center);
      // }

      > .clubOfficerItemImage {
        position: relative;
        width: fit-content;
        min-height: min-content;
        @include mixins.border-radius(50%);

        > img {
          width: 100%;
          min-width: 72px;
          max-width: 120px;
          height: 100%;
          object-fit: cover;
          object-position: center;
          @include mixins.border-radius(50%);
        }
      }

      > .clubOfficerInfo {
        width: 100%;
        padding: 0 12px;

        > .clubOfficerItemName {
          > h1 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
        > .clubOfficerItemPosition {
          margin-top: 4px;

          > p {
            margin: 0;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
