@use './styles/mixins' as mixins;

.homeContainer {
  @include mixins.flexbox(column, center, center);
  height: fit-content !important;
  width: 100% !important;

  > section.howWeLearnSection {
    @include mixins.flexbox(column, center, center);
    width: 100%;
    height: fit-content;
    background: linear-gradient(
      120deg,
      var(--theme-purple-300),
      var(--theme-purple-100),
      var(--theme-blue-100)
    );

    > .howWeLearnContainer {
      padding: var(--space-6x) var(--space-2x);
      width: clamp(360px, 100vw, 1080px);
      height: fit-content;

      > .headerContainer {
        margin: var(--space-4x) 0;
        width: 100%;
        max-width: 720px;

        > h2 {
          margin-top: 0;
          font-size: clamp(2rem, 3vw, 3rem);
          font-weight: bold;
          letter-spacing: 0.1rem;
          color: var(--foreground);
        }

        > p {
          font-size: 1rem;
          letter-spacing: 0.05rem;
          color: var(--foreground-secondary);
        }
      }

      > .cardContainer {
        width: 100%;
        height: fit-content;

        > .card {
          @include mixins.flexbox(column, start, start);
          padding: var(--space-6x) var(--space-4x);
          width: 70%;
          min-width: 580px;
          border: 1px solid var(--border);
          background-color: var(--background);
          @include mixins.border-radius(12px);
          @include mixins.box-shadow(36px);

          // 偶數
          &:nth-child(even) {
            margin-left: auto;

            > h3 {
              color: var(--theme-blue-600);
            }

            > .points {
              > p {
                background-color: var(--theme-blue-500);
              }
            }
          }
          &:not(:first-child) {
            margin-top: -24px;
          }

          @include mixins.respond-by-max-width(628px) {
            width: 100%;
            padding: var(--space-3x) var(--space-2x);
            margin-top: 24px !important;
            min-width: unset !important;
          }

          > h3 {
            font-size: clamp(1.5rem, 3.25vw, 2rem);
            font-weight: 900;
            letter-spacing: 0.1rem;
            color: var(--theme-purple-600);
          }

          > p {
            margin-top: var(--space);
            margin-bottom: var(--space);
            font-size: clamp(0.9rem, 2vw, 1.2rem);
            color: var(--foreground-secondary);
            letter-spacing: 0.05rem;
          }

          > .points {
            > p {
              margin: var(--space-1-5x) 0 var(--space) 0;
              padding: 6px 12px;
              width: fit-content;
              font-size: clamp(0.9rem, 2vw, 1.25rem);
              font-weight: bolder;
              background-color: var(--theme-purple-500);
              color: var(--color-white);
            }

            > ul {
              list-style-type: disc;
              list-style-position: outside;
              padding-left: 1.5rem;

              > li {
                font-size: clamp(0.9rem, 2vw, 1.2rem);
                letter-spacing: 0.05rem;
                color: var(--foreground-secondary);
              }
            }
          }
        }
      }
    }
  }

  > h1 {
    color: var(--text-primary);
  }
}
