@use '@/app/styles/mixins' as mixins;

.latestUpdatesSection {
  width: 100%;
  border-top: 1px solid var(--border);
  background: rgba(var(--background-secondary-rgb), 0.25);

  > .container {
    @include mixins.flexbox(column, center, center);
    gap: var(--space-2x);
    padding: var(--space-6x) var(--space-2x);
    width: clamp(360px, 100vw, 1080px);
    height: fit-content;

    > .header {
      @include mixins.flexbox(row, space-between, center);
      width: 100%;

      h2 {
        color: var(--foreground);
        font-size: 2rem;
        margin: 0;
        font-weight: 800;
        letter-spacing: 0.05rem;
      }
    }

    > .cardsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: var(--space-2x);
      width: 100%;

      @include mixins.respond-to('phone') {
        grid-template-columns: 1fr;
      }

      .card {
        @include mixins.flexbox(column, start, stretch);
        gap: var(--space-0-5x);
        height: 100%;
        min-height: 200px;
        background: rgba(var(--background-secondary-rgb), 0.5);
        text-decoration: none;
        border: 1px solid var(--border);
        @include mixins.border-radius(18px);
        @include mixins.hover-scale-effect(1.05);
        overflow: hidden;

        &:hover {
          background: rgba(var(--background-tertiary-rgb), 0.5);
          @include mixins.box-shadow(54px);
        }

        > .cardContent {
          @include mixins.flexbox(column, start, stretch);
          gap: var(--space-0-5x);
          height: 100%;

          > .coverImageContainer {
            position: relative;
            width: 100%;
            height: fit-content;

            > .category {
              position: absolute;
              top: 9px;
              left: 9px;
              background: var(--theme-blue-500);
              color: var(--color-white);
              padding: 3px 9px;
              font-size: 0.7rem;
              border: 1px solid var(--foreground-700);
              @include mixins.border-radius(18px);
            }

            > img {
              width: 100%;
              object-fit: cover;
              aspect-ratio: 16/9;
            }
          }

          > .content {
            @include mixins.flexbox(column, start, stretch);
            gap: var(--space-0-5x);
            padding: var(--space-1-5x);

            > h3 {
              margin: 0;
              font-size: 1.25rem;
              font-weight: 700;
              color: var(--foreground);
              line-height: 1.4;

              // Limit to 2 lines
              display: -webkit-box;
              line-clamp: 2;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            > .excerpt {
              color: var(--foreground-secondary);
              font-size: 0.95rem;
              line-height: 1.6;
              margin: 0;

              // Limit to 3 lines
              display: -webkit-box;
              line-clamp: 3;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }

          > .footer {
            @include mixins.flexbox(row, space-between, center);
            height: 48px;
            padding: var(--space);
            padding-top: 0;
            padding-left: var(--space-1-5x);

            > .date {
              color: var(--foreground-tertiary);
              font-size: 0.8rem;
              font-weight: 500;
              text-align: right;
            }
            > .viewFull {
              @include mixins.flexbox(row, center, center);
              height: 100%;
              padding: 0 12px;
              color: var(--foreground-tertiary);
              font-size: 0.9rem;
              border: 1px solid var(--border);
              @include mixins.border-radius(9px);

              &:hover {
                color: var(--color-white);
                background: var(--theme-blue-500);
                border-color: var(--border-hover);
              }
            }
          }
        }
      }
    }

    > .viewAll {
      @include mixins.flexbox(row, center, center);
      padding: 9px 18px;
      background: transparent;
      border: 1px solid var(--theme-blue-400);
      color: var(--theme-blue-500);
      @include mixins.border-radius(20px);
      font-size: 0.9rem;
      @include mixins.hover-scale-effect;

      &:hover {
        background: var(--theme-blue-500);
        color: var(--color-white);
        border: 1px solid var(--foreground-700);
      }
    }
  }
}
