@use '@/app/styles/mixins' as mixins;

.logo {
  @include mixins.flexbox(row, center, center);
  width: max-content;
  height: 100%;
  cursor: pointer;

  &.compact {
    > .logoImage {
      height: 36px;
      width: 36px;
    }

    > .logoText {
      opacity: 0.75;

      > h1 {
        font-size: 0.96rem;
      }

      > p {
        font-size: 0.5rem;
        margin-top: -10%;
        opacity: 0;
      }
    }
  }

  @include mixins.respond-to('phone') {
    > .logoText {
      display: none !important;
    }
  }
  @include mixins.respond-to('tablet') {
    > .logoText {
      display: none !important;
    }
  }

  > .logoImage {
    height: 48px;
    width: 48px;
    @include mixins.transition(var(--transition-default));
  }

  > .logoText {
    margin-top: -3px;
    @include mixins.flexbox(column, center, start);

    > h1 {
      margin: 0;
      font-size: 1.1rem;
      color: var(--theme-purple-600);
      @include mixins.transition(var(--transition-default));
    }

    > p {
      margin: 0;
      font-size: 0.58rem;
      color: var(--theme-purple-500);
      @include mixins.transition(var(--transition-default));
    }
  }
}
