@use '@/app/styles/mixins' as mixins;

.container {
  display: inline-block;
}

.triggerButton {
  @include mixins.flexbox(row, center, center);
  padding: 6px;
  background: transparent;
  color: var(--foreground-secondary);
  border: none;
  @include mixins.border-radius(6px);
  cursor: pointer;

  &:hover {
    color: var(--foreground);
    background: rgba(var(--background-secondary-rgb), 0.5);
    border-color: var(--border);
  }
}

.menuDropdown {
  @include mixins.flexbox(column, start, start);
  gap: 3px;
  padding: 6px;
  min-width: 160px;
  background-color: rgba(var(--background-rgb), 0.5);
  border: 1px solid var(--border);
  @include mixins.border-radius(12px);
  @include mixins.glass-blur(6px);
  box-shadow: 0 0 32px 0 rgba(var(--background-rgb), 0.75);
}

.menuDropdown > button,
.menuDropdown > a,
.menuDropdown > div > button,
.menuDropdown > div > a {
  background: transparent;
  border: none;
  padding: 10px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 0.9rem;
  color: var(--foreground-secondary);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  width: 100%;
  border: 1px solid transparent;
  @include mixins.border-radius(6px);
  transition: all 0.2s ease;

  &:hover {
    border: 1px solid var(--border);
    background-color: rgba(var(--background-secondary-rgb), 0.4);
    color: var(--foreground);
  }

  &[data-danger='true'] {
    color: var(--theme-red-600);

    &:hover {
      border: 1px solid var(--border-hover);
      background-color: var(--theme-red-400);
      color: var(--foreground);
    }
  }
}
